.sec-pd {
  padding-top: 140px;
}
.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @include breakpoint-up(medium) {
    max-width: 700px;
  }
  @include breakpoint-up(large) {
    max-width: 920px;
  }
  @include breakpoint-up(xlarge) {
    max-width: 1180px;
  }
  @include breakpoint-up(xxlarge) {
    max-width: 1480px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-50,
.col-1,
.col-33,
.col-25 {
  position: relative;
  width: 100%;
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
@include breakpoint-up(medium) {
  .col-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
