// web color scheme can be changed using only the variables below
$clr-primary: #1caad9;
$clr-secondary: #1c88bb;

$body-bk: #ffffff;
$txt-primary: #000000;
$txt-light: #3b3b3b;
$txt-muted: #47474773;

$clr-label: #6e6e73;

$sec-bk: #ffffff;
$sec-lbk: #f6f6f7;

$input-bk: #ffffff;
$input-border: #e8e8e8;
$dec: #b9b9c3;

$clr-success: #28c76f;
$clr-warning: #fab476;
$clr-danger: #ea5455;
$clr-info: #00cfe8;
$clr-ques: #82868b;
