footer {
  padding-bottom: 30px;

  .footer-mt {
    margin-top: 80px;
  }

  .col {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-right: auto;

    @include breakpoint-down(medium) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include breakpoint-down(small) {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 15px;
    }
  }

  .sec-title .title {
    color: $txt-primary;
    font-weight: 800;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;

    @include breakpoint-down(xxlarge) {
      font-size: 26px;
    }
  }

  p {
    font-size: 20px;

    @include breakpoint-down(xxlarge) {
      font-size: 16px;
    }
  }

  svg {
    pointer-events: none;
  }

  .contact {
    a {
      display: inline-block;
      font-size: 40px;
      margin-top: 20px;
      margin-right: 15px;
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        transform: translateY(-4px);
      }
    }
  }

  .projects {
    a svg {
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    a {
      display: inline-block;
      margin-bottom: 6px;
      transition: border 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      border-bottom: 2px solid transparent;

      @include breakpoint-down(xxlarge) {
        font-size: 18px;
      }

      &:hover {
        border-bottom-color: #0f141e;
      }
    }

    a:hover svg {
      transform: rotate(-45deg);
    }
  }
}