header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 40px 0;
  z-index: 999;
}

@include breakpoint-down(xxlarge) {
  .logo img {
    width: auto;
    height: 30px;
  }
}

.menu {
  a {
    position: relative;
    display: block;
    height: 46px;
    padding: 0 10px;
    font-size: 0.8125rem;
    font-weight: 800;
    letter-spacing: 0.2em;
    line-height: 50px;
    text-transform: uppercase;
    transition: color 0.2s linear;

    &:hover ~ a {
      color: #878a8f;
    }
  }
}
